<div >

    <div style="width:100%; height: 300px; text-align:center">
        <span class="Btn" style="font-size:16px; color: darkgray; margin-right:16px; cursor:pointer" onclick="Push()">Push</span>
        <span class="Btn" style="font-size:16px; color: darkgray; margin-right:16px; cursor:pointer" onclick="Pop()">Pop</span>
        <span class="Btn" style="font-size:16px; color: darkgray; margin-right:16px; cursor:pointer" onclick="Peek()">Peek</span>
        <span class="Btn" style="font-size:16px; color: darkgray; cursor:pointer" onclick="GetSize()">GetSize</span>
        <br />
        <br />
        <input id="Scripture" style="border-width:1px; border-style:solid;  text-align:center;  border-color:lightgray; width:218px; height:30px; font-size:16px"  placeholder='input your string here'/>
        <br />
        <br />
        <span id="Label" style="font-size:16px; color: darkred; cursor:pointer"></span>
     </div>
</div>
